<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TasteMost</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="font-montserrat">
    <div class="bg-[url('/public/img/bgImage.png')] px-6 py-3">
      <nav class="bg-red-700 flex h-10">
        <div>
          <img src="/public/img/logo.png" alt="logo" />
        </div>
      </nav>
      <h1 class="text-white text-2xl font-bold text-center">TasteMost</h1>
      <p class="text-white text-center font-light">
        Tastemost adalah platform unggul untuk menemukan resep terbaik dan
        mengorganisirnya dengan mudah.
      </p>
      <br><br><br><br><br>
    </div>
  </body>
</html>
